body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #F2E5D5;
}

header{
  height: 10vh;
  display: flex;
  align-items:center;
  justify-content: end;
  border-bottom: 2px solid #732B1A;
  padding: 10px 20px;
  background-color: #D93223;
}

header h4{
  text-align: end;
}

header img{
  height: 8vh;
  width: auto;
  border: 2px solid #732B1A;
  border-radius: 10px;
}

#chat {
  display: none;
  flex-direction: column;
  align-items: center;
}

#messages {
  list-style: none;
  padding: 0;
}

#messages li, #derrota {
  color: #F2E5D5;
  background: #D93223;
  margin-bottom: 4px;
  padding: 6px 10px;
  border-radius: 5px;
}

#derrota strong {
  background-color: #F2E5D5;
  color: #732B1A;
  border: 1px, solid #732B1A;
  border-radius: 5px;
  padding: 0px 5px;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#derrota{
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

input{
  border-radius: 15px 0px 0px 15px;
  border: 1px solid #732B1A;
  padding: 5px;
}

button{
  color: #F2E5D5;
  height: 27px;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid #732B1A;
  padding: 4px 7px;
  background-color: #D93223;
}

footer{
  position: fixed;
  bottom: 15px;
  left: 15px;
}

footer img {
  height: 10vh;
  width: auto;
  border: 5px solid #732B1A;
  border-radius: 10px;
  padding: 0;
}