body {
  font-family: sans-serif;
  background: #fafafa;
  margin: 0px;
  background-color: #A9D4D9;
}

header{
  display: flex;
  align-items:center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 10px 20px;
  background-color: #437373;
}

header h4{
  text-align: end;
}

#chat {
  display: none;
  flex-direction: column;
  align-items: center;
}

#messages {
  list-style: none;
  padding: 0;
}

#messages li {
  background: #72A1A6;
  margin-bottom: 4px;
  padding: 6px 10px;
  border-radius: 5px;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#derrota{
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

input{
  border-radius: 15px;
  border: 1px solid #437373;
  padding: 5px;
}

button{
  border-radius: 15px;
  border: 1px solid #437373;
  padding: 4px 7px;
  background-color: #72A1A6;
}